@model ESD.Models.Idea

@{
    ViewData["Title"] = "Details";
    var currentC = (List<Comment>)ViewData["Comments"];
}

<h1>Details</h1>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnomynous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnomynous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DislikeS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DislikeS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*<div>
    <a asp-controller="Comments" asp-action="Create" asp-route-CurrentIdea="@Model?.Id">Add comments</a>
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                Comment
            </th>
            <th>
                IdeaId
            </th>
            <th>
                UserId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in currentC)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdeaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<form asp-controller="Comments" asp-action="Create" asp-route-CurrentIdea="@Model?.Id" class="d-flex">
    <input asp-for="Text" class="form-control" value="" />
    <input type="submit" value="Sent" class="btn btn-primary" />
</form>